.first-border-layer {
    position: absolute;
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 1;
}

.nipple {
    position: absolute;
    background: linear-gradient(to left, red 35%, blue);
    top: 12.5px;
    left: 12.5px;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
}

.border-container {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 500px;
    z-index: 1;

}

.second-border-layer {
    position: absolute;
    background-color: #fff;
    top: 12.5px;
    left: 12.5px;
    height: 475px;
    width: 475px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgb(110, 110, 110);
    z-index: 1;
}