.graduations {
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    border: dotted #ffffffbb 21.375px;
    z-index: 4;
}

.dial-container {
    position: absolute;
    margin: auto;
    top:37.5px;
    left: 37.5px;
    width: 427.5px;
    height: 427.5px;
}