.graduations {
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    border: #ffffffbb 21.375px;
    z-index: 4;
}

.dial-container {
    position: absolute;
    margin: auto;
    top:37.5px;
    left: 37.5px;
    width: 427.5px;
    height: 427.5px;
    border-radius: 50%;
    z-index: 10;
}

.center {
    width: 1px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    margin: auto;
    top:213.75px;
    left: 213.75px;
}